.mainContainer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/Portfolio/Backgrounds/4.png');
    background-color: #323232;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    overflow-y: auto;
}

.containerAnimation{
    animation: backgroundAnim 1.5s linear forwards;
}

@keyframes backgroundAnim {
    from{
        background-size: 95%;
    }
    to {
        background-size: 100%;
    }
}

.topContainer {
    width: 75%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

.bottomContainer {
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    animation: pulse 0.5s ease-in-out infinite alternate;
    border-radius: 5px;
}

@keyframes pulse {
    from{
        box-shadow: 0px 0px 10px 3px rgba(255, 0, 0, 0.54);
    }
    
    to{
        box-shadow: 0px 0px 15px 3px rgba(255, 0, 0, 0.54);
    }
}

.firstContainer, .secondContainer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.talkContainer, .doSomething{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contactIcons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contactIcon{
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

.contactIcon:hover{
    transform: scale(1.1);
}

.contactTextContainer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contactText{
    font-size: 0.9em;
    animation: pop 0.3s ease;
}

.nameEmailContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputText{
    color: white;
    font-size: 0.9em;
    font-weight: 400;
}

.formInput{
    width: 80%;
    font-size: 0.9em;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.inputArea{
    width: 90%;
    max-height: 100%;
}

input.ng-invalid.ng-touched, .inputArea.ng-invalid.ng-touched{
    animation: shake 0.4s ease;
    border: 1px solid var(--red);
}

@keyframes shake {
    0%{
        transform: translateX(2%);
    }
    25%{
        transform: translateX(-2%);
    }
    50%{
        transform: translateX(2%);
    }
    100%{
        transform: translateX(0%);
    }
}

.sendButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sendButton{
    all: unset;
    width: 25%;
    font-size: 0.9em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 0.2em 0 0.2em 0;
    transition: 0.3s ease;
}

.redGradient{
    background: linear-gradient(180deg, #FF0000 0%, #C00000 100%);
}

.greenGradient{
    background: linear-gradient(180deg, #5eff00 0%, #00c020 100%);
}

.sendButton:disabled{
    background: none;
    background-color: #6e6e6e;
}

@keyframes pop {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.messageSentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 2em; */
    min-width: 1em;
}

.message{
    color: white;
    font-size: 1em;
}


.breaker{
    width: 90%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
}

.textLarge{
    font-size: 1.3em;
    font-weight: 600;
}

.textMedium{
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
}

.red {
    color: var(--red);
}

.white {
    color: white;
}

.filterRed {
    filter: invert(9%) sepia(81%) saturate(6386%) hue-rotate(7deg) brightness(84%) contrast(113%);
}

@media (min-width:600px) {
    .bottomContainer{
        width: 65%;
    }

    .textMedium{
        font-size: 1em;
    }
}

@media (min-width:992px) {
    .bottomContainer{
        width: 30%;
    }
}